<footer class="footer bg-green-800" role="contentinfo">
        <a class="logo" href="https://idrc.ocadu.ca/">
                {% include "node_modules/idg-design-system/dist/static/svg/idrc.svg" %}
                <span>Inclusive Design Research Centre</span>
        </a>
        <div class="footer-content">
                <div class="footer-credit">
                        <h4>{{ _("Created by") }}</h4>
                        <p>
                                {{ _("The community members of the") }}
                                <a href="https://idrc.ocadu.ca/">{{ _("Inclusive Design Research Centre") }}</a>
                                {{ _("at") }}
                                <a href="https://www.ocadu.ca/">{{ _("OCAD University") }}</a>
                        </p>
                        <h4>{{ _("Licensed under") }}</h4>
                        <a href="https://creativecommons.org/licenses/by/3.0/">{{ _("Creative Commons CC BY 3.0") }}</a>
                </div>
                <div class="footer-resources">
                        <h4>{{ _("Other design guides by the IDRC") }}</h4>
                        <a href="https://co-design.inclusivedesign.ca/">{{ _("Community-led co-design kit") }}</a>
                        <a href="https://handbook.floeproject.org/">{{ _("Inclusive Learning Design Handbook") }}</a>
                </div>
                <div class="footer-sponsors">
                        <h4>{{ _("Supported by") }}</h4>
                        <h4>{{ _("Hosted with") }}</h4>
                </div>
        </div>
</footer>
