@import "../../../node_modules/idg-design-system/dist/static/css/main.css";

/** Variables **/
:root {
    --max-content-width: 65rem;
    --flow-space: 1.5em;
}

/** Custom Media Queries **/
@custom-media --max-content-width-and-up (width >= 65rem);
@custom-media --less-than-max-content-width (width < 65rem);

/** Vertical Flow **/
article > *:not(header,.content) {
    margin-inline: auto;
    max-inline-size: var(--max-content-width);
}

article header,
article .content {
    padding-block: var(--space-3xl) var(--space-2xl);
}

article header > *,
article .content > * {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: var(--max-content-width);
}

@media (--less-than-max-content-width) {
    article header > *,
    article .content > * {
        padding-inline: var(--space-m);
    }
}

@media (--max-content-width-and-up) {
    article header > *,
    article .content--two-thirds > * {
        padding-inline-end: calc(1 / 3 * var(--max-content-width));
    }
}

article > * + *,
article header > * + *,
article .content > * + * {
    margin-block-start: 1em;
}

article * + .content {
    margin-block-start: 5rem;
}

article header + .content,
article .flc-toc-tocContainer + .content,
article .content + .content {
    margin-block-start: 0;
}

.call-to-action + .call-to-action {
    margin-block-start: var(--space-m);
}

.call-to-action + .content {
    margin-block-start: var(--space-2xl);
    padding-block-start: 0;
}

*:not(.call-to-action) + .call-to-action {
    margin-block-start: calc(-1 * var(--space-xl));
}

/** TODO: Style UIO table of contents **/
.flc-toc-tocContainer {
    margin-block-start: 0;
}

/** Colours **/
.bg-transparent {
    background: transparent;
}

.bg-green-800 {
    color: var(--fl-fgColor, var(--color-white));
}
