@import "../../../node_modules/idg-design-system/dist/static/css/main.css";

/** Variables **/
:root {
    --max-content-width: 65rem;
    --flow-space: 1.5em;
}

/** Custom Media Queries **/
@custom-media --max-content-width-and-up (width >= 65rem);
@custom-media --less-than-max-content-width (width < 65rem);

/** Vertical Flow **/
article > *:not(header,.content) {
    margin-inline: auto;
    max-inline-size: var(--max-content-width);
}

article header,
article .content {
    padding-block: var(--space-3xl) var(--space-2xl);
}

article header > *,
article .content > *,
.footer .logo,
.footer .footer-content {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: var(--max-content-width);
}

article > * + *,
article header > * + *,
article .content > * + * {
    margin-block-start: 1em;
}

article .content + *:not(.content) {
    margin-block-start: 4rem;
}

article * + .content {
    margin-block-start: 5rem;
}

article header + .content,
article .flc-toc-tocContainer + .content,
article .content + .content {
    margin-block-start: 0;
}

.call-to-action + .call-to-action {
    margin-block-start: var(--space-m);
}

*:not(.call-to-action) + .call-to-action {
    margin-block-start: var(--space-xl);
}

/** TODO: Style UIO table of contents **/
.flc-toc-tocContainer {
    margin-block-start: 0;
}

/** Colours **/
.bg-transparent {
    background: transparent;
}

.bg-green-800 {
    color: var(--fl-fgColor, var(--color-white));
}

.footer {
    padding-block: var(--space-xl) var(--space-3xl);
}

.footer .logo {
    align-items: center;
    display: flex;
    gap: var(--space-2xs);
    inline-size: 100%;
    margin-block: var(--space-xl);
}

.footer .logo svg {
    inline-size: calc(var(--space-3xs) + var(--space-xl));
}

.footer-content {
    display: grid;
    gap: var(--space-2xl);
    grid-template-columns: repeat(3, 1fr);
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

@media (--less-than-max-content-width) {
    article header > *,
    article .content > *,
    .footer {
        padding-inline: var(--space-m);
    }

    .footer-content {
        display: flex;
        flex-flow: column wrap;
    }
}

@media (--max-content-width-and-up) {
    article header > *,
    article .content--two-thirds > * {
        padding-inline-end: calc(1 / 3 * var(--max-content-width));
    }
}
